@{
    ViewBag.Title = "درباره ی ما";
}
@section styles{
    <link href="~/Content/foxholder-styles.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
}
<h2>فرم انتقاد و پیشنهادات</h2>
<div class="form-container-10">
    <form action="/Home/SendEmail" method="post">
        <hr />
        <input id="first-input-10" name="name" type="text" placeholder="نام" required />
        <input id="second-input-10" name="email" type="email" placeholder="ایمیل" required />
        <input id="second-input-10" name="subject" type="text" placeholder="موضوع" required />
        <textarea id="message" name="body" placeholder="متن پیام" required></textarea>
        <button type="submit">ارسال پیام</button>
    </form>
</div>
@section scripts{
    <script src="~/Scripts/foxholder.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script>
        if (@ViewBag.status == 1) {
            toastr.success("از ارسال پیام شما متشکریم", "انتقاد و پیشنهاد سایت دیجی مووی", {
                "timeOut": "10000",
                "closeButton": true,
                "positionClass": "toast-top-full-width"
            })
        }
        else
        {
            toastr.error("لطفا پیام خود را مجددا ارسال نمایید", "انتقاد و پیشنهاد سایت دیجی مووی", {
                "timeOut": "10000",
                "closeButton": true,
                "positionClass": "toast-top-full-width"
            })
        }
    </script>
}