@{
    ViewBag.Title = "ارتباط با ما";
    if (ViewBag.Theme != null)
    {
        Layout = ViewBag.Theme;
    }
}
@section styles{
    <link href="~/Content/foxholder-styles.css" rel="stylesheet" />
}
@using (Html.BeginForm())
{
    <div class="container">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.DropDownList("theme",
       new SelectList(new List<object> {
           new { Id = 1, Name = "انتخاب پس زمینه" },
        new { Id = 2, Name = "پس زمینه سفید" },
        new { Id = 3, Name = "پس زمینه مشکی سفید" },
        new { Id = 4, Name = "پس زمینه سفید آبی" },
        new { Id = 5, Name = "پس زمینه تیره" },
        new { Id = 6, Name = "پس زمینه سفید قرمز" }
    }, "Id", "Name", 1, new int[1] { 1 }),
        new { @class = "form-control", onchange = "this.form.submit()" })
        </div>
    </div>
}
<br style="line-height:20px;" />
@*mtn etela resani*@
<div class="w3-padding w3-section w3-border-orange w3-gray container w3-round w3-center"><span class="w3-right w3-large"><i class="glyphicon glyphicon-user"></i>کاربر محترم برای اطلاع از خبرنامه های فیلم ها و سریال های ما متوانید ایمیل خود را در قسمت مورد نظر وارد نماید.</span>
    </div>
@*news letter section for series*@
<div class="w3-container w3-center w3-border w3-border-orange w3-round w3-padding-32 w3-light-grey">
    <h4>عضویت در خبرنامه های  سریال ها</h4>
    <input type="text" name="txt" placeholder="نام و نام خانوادگی" class="input-lg w3-border w3-left-align w3-round w3-animate-input" />
    <input type="" name="txt" placeholder="ایمیل خود را وارد کنید..." class="input-lg w3-border w3-left-align w3-round w3-animate-input"/>
    <div class="container w3-padding-left w3-margin-left w3-margin-right w3-padding-right">
        <div class="container w3-margin-left w3-margin-right">
            <button  class="w3-margin-top w3-round btn-block w3-orange" >اشتراک</button>
        </div>
    </div>
</div><br />
@*news letter section for movies*@
<div class="w3-container w3-center w3-border w3-border-orange w3-round w3-padding-32 w3-light-grey">
    <h4>عضویت در خبرنامه های فیلم های سینمایی</h4>
    <input type="text" name="txt" placeholder="نام و نام خانوادگی" class="input-lg w3-border w3-left-align w3-round w3-animate-input" />
    <input type="text" name="txt" placeholder="ایمیل خود را وارد کنید..." class="input-lg w3-border w3-left-align w3-round w3-animate-input col-lg-12" />
    <div class="container w3-padding-left w3-margin-left w3-margin-right w3-padding-right col-lg-12">
        <div class="container w3-margin-left w3-margin-right">
            <button class="w3-margin-top w3-round btn-block w3-orange">اشتراک</button>
        </div>
    </div>
</div><br />
@*news letter section for short movies*@
<div class="w3-container w3-center w3-border w3-border-orange w3-round w3-padding-32 w3-light-grey">
    <h4>عضویت در خبرنامه های فیلم های کوتاه</h4>
    <input type="text" name="txt" placeholder="نام و نام خانوادگی" class="input-lg w3-border w3-left-align w3-round w3-animate-input" />
    <input type="text" name="txt" placeholder="ایمیل خود را وارد کنید..." class="input-lg w3-border w3-left-align w3-round w3-animate-input" />
    <div class="container w3-padding-left w3-margin-left w3-margin-right w3-padding-right">
        <div class="container w3-margin-left w3-margin-right">
            <button class="w3-margin-top w3-round btn-block w3-orange">اشتراک</button>
        </div>
    </div>
</div>@*ertebat ba ma*@
<div class="row w3-padding-large w3-grey text-center">
    <h4 id="contact"><b>ارتباط با ما</b></h4>
    <div class="w3-row-padding w3-center w3-padding-24" style="margin: 0 -16px">
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12 w3-dark-grey w3-card-12 w3-round w3-border-orange">
            <p><i class="fa fa-envelope w3-xxlarge w3-text-orange"></i></p>
            <p>(pegitorabi.pt12@gmail.com)ایمیل</p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12 w3-orange w3-card-12 w3-round">
            <p><i class="fa fa-envelope w3-xxlarge w3-text-gray"></i></p>
            <p>فیسبوک(www.facebook)</p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12 w3-dark-grey w3-card-12 w3-round w3-border-orange">
            <p><i class="fa fa-youtube-play w3-xxlarge w3-text-orange"></i></p>
            <p>youtube(www.youtobe)</p>
        </div>
    </div>
    <div class="w3-row-padding w3-center w3-padding-24" style="margin: 0 -16px">
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12 w3-orange w3-round w3-card-12 w3-border-orange">
            <p><i class="fa fa-envelope w3-xxlarge w3-text-gray"></i></p>
            <p>تلگرام(DigiMovie)</p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12 w3-dark-grey w3-card-12 w3-round">
            <p><i class="fa fa-envelope w3-xxlarge w3-text-orange"></i></p>
            <p>اینستاگرام(DigiMovie)</p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12 w3-orange w3-card-12 w3-round">
            <p><i class="fa fa-envelope w3-xxlarge w3-text-gray"></i></p>
            <p>what's app</p>
        </div>
    </div>
</div>
<br />
<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
    center: new google.maps.LatLng(35.722070, 51.458182),
    zoom:18,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHk0HShpqGYmSagbpvfxYZWtNr4Phx1b8&callback=myMap"></script>