@{
    ViewBag.Title = "صفحه ی اصلی";
    if (ViewBag.Theme != null)
    {
        Layout = ViewBag.Theme;
    }
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.DropDownList("theme",
       new SelectList(new List<object> {
           new { Id = 1, Name = "انتخاب پس زمینه" },
        new { Id = 2, Name = "پس زمینه سفید" },
        new { Id = 3, Name = "پس زمینه مشکی سفید" },
        new { Id = 4, Name = "پس زمینه سفید آبی" },
        new { Id = 5, Name = "پس زمینه تیره" },
        new { Id = 6, Name = "پس زمینه سفید قرمز" }
    }, "Id", "Name", 1, new int [1]{ 1 }),
        new { @class = "form-control", onchange = "this.form.submit()" })
        </div>
    </div>
}
<br style="line-height:20px;" />
@*slide show*@
<div>
    <div id="myCarousel" class="carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
            <li data-target="#myCarousel" data-slide-to="0" class="active w3-orange"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=" w3-orange"></li>
            <li data-target="#myCarousel" data-slide-to="2" class=" w3-orange"></li>
            <li data-target="#myCarousel" data-slide-to="3" class=" w3-orange"></li>
            <li data-target="#myCarousel" data-slide-to="4" class=" w3-orange"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner Linear-Ggradient w3-card-24">
            <div class="item active row">
                <img src="~/Images/XSmall Size/Assassins Creed-small.jpg" alt="Assassins Creed" style="display:inline-block" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 w3-padding-large w3-padding-top">
                <img src="~/Images/Small Size/Hitman.jpg" alt="Hitman" style="display:inline-block" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="carousel-caption hidden-sm hidden-xs">
                    <h3>Hitman-2015</h3>
                    <button class="btn-lg w3-gray">دانلود</button>
                </div>
                <div class="carousel-caption hidden-lg hidden-md" style="top:15px;">
                    <h6>Hitman-2015</h6>
                    <button class="btn-smw3-centerbtn w3-gray" style="height:25px;">دانلود</button>
                </div>
                <img src="~/Images/XSmall Size/Baywatch-small.jpg" alt="Los Angeles" style="display:inline-block" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 w3-padding-large w3-padding-top">
            </div>

            <div class="item row">
                <img src="~/Images/XSmall Size/Hitman-small.jpg" alt="Los Angeles" style="display:inline-block" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 w3-padding-large w3-padding-top">

                <img src="~/Images/Small Size/Baywatch.jpg" alt="Assassins Creed" style="display:inline-block" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="carousel-caption hidden-sm hidden-xs">
                    <h3>Baywatch-2017</h3>
                    <button class="btn-lg w3-gray">دانلود</button>
                </div>
                <div class="carousel-caption hidden-lg hidden-md" style="top:15px;">
                    <h6>Baywatch-2017</h6>
                    <button class="btn-smw3-centerbtn w3-gray" style="height:25px;">دانلود</button>
                </div>
                <img src="~/Images/XSmall Size/Nioh.jpg" alt="Nioh" style="display:inline-block" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 w3-padding-large w3-padding-top">
            </div>

            <div class="item row">
                <img src="~/Images/XSmall Size/Baywatch-small.jpg" alt="Assassins Creed" style="display:inline-block" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 w3-padding-large w3-padding-top">

                <img src="~/Images/Small Size/Nioh-small.jpg" alt="Nioh" style="display:inline-block" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="carousel-caption hidden-sm hidden-xs">
                    <h3>Nioh-2013</h3>
                    <button class="btn-lg w3-gray">دانلود</button>
                </div>
                <div class="carousel-caption hidden-lg hidden-md" style="top:15px;">
                    <h6>Nioh-2013</h6>
                    <button class="btn-smw3-centerbtn w3-gray" style="height:25px;">دانلود</button>
                </div>
                <img src="~/Images/XSmall Size/300.jpg" alt="Harry Potter" style="display:inline-block" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 w3-padding-large w3-padding-top">
            </div>

            <div class="item row">
                <img src="~/Images/XSmall Size/Nioh.jpg" alt="Assassins Creed" style="display:inline-block" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 w3-padding-large w3-padding-top">

                <img src="~/Images/Small Size/300.jpg" alt="Nioh" style="display:inline-block" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="carousel-caption hidden-sm hidden-xs">
                    <h3>300-2014</h3>
                    <button class="btn-lg  w3-gray">دانلود</button>
                </div>
                <div class="carousel-caption hidden-lg hidden-md" style="top:15px;">
                    <h6>300-2014</h6>
                    <button class="btn-smw3-centerbtn w3-gray" style="height:25px;">دانلود</button>
                </div>
                <img src="~/Images/XSmall Size/Iron Man-small.jpg" alt="Harry Potter" style="display:inline-block" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 w3-padding-large w3-padding-top">

            </div>

            <div class="item row">
                <img src="~/Images/XSmall Size/300.jpg" alt="Assassins Creed" style="display:inline-block" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 w3-padding-large w3-padding-top">

                <img src="~/Images/Small Size/Iron Man.jpg" alt="Nioh" style="display:inline-block" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="carousel-caption hidden-sm hidden-xs">
                    <h3>Iron Man-2016</h3>
                    <button class="btn-lg btn-info">دانلود</button>
                </div>
                <div class="carousel-caption hidden-lg hidden-md" style="top:15px;">
                    <h6>Iron Man-2016</h6>
                    <button class="btn-smw3-centerbtn w3-gray" style="height:25px;">دانلود</button>
                </div>
                <img src="~/Images/XSmall Size/Hitman-small.jpg" alt="Harry Potter" style="display:inline-block" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 w3-padding-large w3-padding-top">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left w3-margin-top w3-text-orange"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right w3-margin-top w3-text-orange"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
@*tab bar for desktop and tablet*@
<br class="hidden-sm hidden-xs" style="line-height:55px;" />
<ul class="nav nav-tabs hidden-md hidden-sm hidden-xs">
    @*eshghi tab*@
    <li class="dropdown w3-center w3-large">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#eshghi" aria-expanded="false">
            عشقی <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#eshghi-irani" data-toggle="tab">ایرانی</a></li>
            <li class="divider"></li>
            <li><a href="#eshghi-khareji" data-toggle="tab">خارجی</a></li>
        </ul>
    </li>
    @*jangi tab*@
    <li class="dropdown w3-center w3-large">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#eshghi" aria-expanded="false">
            جنگی <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#jangi-irani" data-toggle="tab">ایرانی</a></li>
            <li class="divider"></li>
            <li><a href="#jangi-khareji" data-toggle="tab">خارجی</a></li>
        </ul>
    </li>
    @*acrion tab*@
    <li class="dropdown w3-center w3-large">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#eshghi" aria-expanded="false">
            اکشن <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#action-irani" data-toggle="tab">ایرانی</a></li>
            <li class="divider"></li>
            <li><a href="#action-khareji" data-toggle="tab">خارجی</a></li>
        </ul>
    </li>
    @*tarsnak tab*@
    <li class="dropdown w3-center w3-large">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#eshghi" aria-expanded="false">
            ترسناک <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#tarsnak-irani" data-toggle="tab">ایرانی</a></li>
            <li class="divider"></li>
            <li><a href="#tarsnak-khareji" data-toggle="tab">خارجی</a></li>
        </ul>
    </li>
    @*komedi tab*@
    <li class="dropdown w3-center w3-large">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#eshghi" aria-expanded="false">
            کمدی <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#komedi-irani" data-toggle="tab">ایرانی</a></li>
            <li class="divider"></li>
            <li><a href="#komedi-khareji" data-toggle="tab">خارجی</a></li>
        </ul>
    </li>
</ul>
<br />
<br />
@*tab bar text for desktop*@
<div id="myTabContent" class="tab-content hidden-md hidden-sm hidden-xs" dir="rtl">
    @*eshghi khareji tab text*@
    <div class="tab-pane fade" id="eshghi-khareji" dir="rtl">
        <h1 class="text-center">فیلم های خارجی عشقی</h1><br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group  w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Batman-small.jpg" class="col-lg-12 hidden-xs" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه خارجی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/300.jpg" class="col-lg-12 hidden-xs" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه خارجی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Baywatch-small.jpg" class="col-lg-12 hidden-xs" />

                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Iron Man-small.jpg" class="col-lg-12 hidden-xs" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*eshghi irani tab text*@
    <div class="tab-pane fade active in" id="eshghi-irani" dir="rtl">
        <h1 class="text-center">فیلم های ایرانی عشقی</h1><br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Batman-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه ایرانی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/300.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه ایرانی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Baywatch-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Iron Man-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*action irani tab text*@
    <div class="tab-pane fade" id="action-irani" dir="rtl">
        <h1 class="text-center">فیلم های ایرانی اکشن</h1><br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Captain America-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن ایرانی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Nioh.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن ایرانی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Harry Potter-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Hitman-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*action khareji tab text*@
    <div class="tab-pane fade" id="action-irani" dir="rtl">
        <h1 class="text-center">فیلم های خارجی اکشن</h1><br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Captain America-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن خارجی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Nioh.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن خارجی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Harry Potter-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Hitman-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*tarsnak irani tab text*@
    <div class="tab-pane fade" id="tarsnak-irani" dir="rtl">
        <h1 class="text-center">فیلم های ایرانی ترسناک</h1><br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Captain America-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک ایرانی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Nioh.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک ایرانی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Harry Potter-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Hitman-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*tarsnak khareji tab text*@
    <div class="tab-pane fade" id="action-khareji" dir="rtl">
        <h1 class="text-center">فیلم های خارجی ترسناک</h1><br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Captain America-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک خارجی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Nioh.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک خارجی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Harry Potter-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Hitman-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*komedi irani tab text*@
    <div class="tab-pane fade" id="komedi-irani" dir="rtl">
        <h1 class="text-center">فیلم های ایرانی کمدی</h1><br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Captain America-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی ایرانی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Nioh.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی ایرانی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Harry Potter-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Hitman-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*komedi khareji tab text*@
    <div class="tab-pane fade" id="komedi-khareji" dir="rtl">
        <h1 class="text-center">فیلم های خارجی کمدی</h1><br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Captain America-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی خارجی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Nioh.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی خارجی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Harry Potter-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Hitman-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*jangi irani tab text*@
    <div class="tab-pane fade" id="jangi-irani" dir="rtl">
        <h1 class="text-center">فیلم های ایرانی جنگی</h1><br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Captain America-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی ایرانی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Nioh.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی ایرانی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Harry Potter-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Hitman-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*jangi khareji tab text*@
    <div class="tab-pane fade" id="jangi-khareji" dir="rtl">
        <h1 class="text-center">فیلم های خارجی جنگی</h1><br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Captain America-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی خارجی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Nioh.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی خارجی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Harry Potter-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/XSmall Size/Hitman-small.jpg" class="col-lg-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*tab bar for mobile*@
<ul class="nav nav-tabs container w3-center hidden-lg">
    @*eshghi tab*@
    <li class="dropdown w3-center col-sm-12 col-xs-12 col-md-12">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#eshghi" aria-expanded="false">
            عشقی <span class="caret"></span>
        </a>
        <ul class="dropdown-menu col-sm-12 col-xs-12 col-md-12 text-center">
            <li><a href="#eshghi-irani-sm" data-toggle="tab">ایرانی</a></li>
            <li class="divider"></li>
            <li><a href="#eshghi-khareji-sm" data-toggle="tab">خارجی</a></li>
        </ul>
    </li>
    @*jangi tab*@
    <li class="dropdown w3-center col-sm-12 col-xs-12 col-md-12">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#eshghi" aria-expanded="false">
            جنگی <span class="caret"></span>
        </a>
        <ul class="dropdown-menu col-sm-12 col-xs-12 col-md-12 text-center">
            <li><a href="#jangi-irani-sm" data-toggle="tab">ایرانی</a></li>
            <li class="divider"></li>
            <li><a href="#jangi-khareji-sm" data-toggle="tab">خارجی</a></li>
        </ul>
    </li>
    @*acrion tab*@
    <li class="dropdown w3-center col-sm-12 col-xs-12 col-md-12">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#eshghi" aria-expanded="false">
            اکشن <span class="caret"></span>
        </a>
        <ul class="dropdown-menu col-sm-12 col-xs-12 col-md-12 text-center">
            <li><a href="#action-irani-sm" data-toggle="tab">ایرانی</a></li>
            <li class="divider"></li>
            <li><a href="#action-khareji-sm" data-toggle="tab">خارجی</a></li>
        </ul>
    </li>
    @*tarsnak tab*@
    <li class="dropdown w3-center col-sm-12 col-xs-12 col-md-12">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#eshghi" aria-expanded="false">
            ترسناک <span class="caret"></span>
        </a>
        <ul class="dropdown-menu col-sm-12 col-xs-12 col-md-12 text-center">
            <li><a href="#tarsnak-irani-sm" data-toggle="tab">ایرانی</a></li>
            <li class="divider"></li>
            <li><a href="#tarsnak-khareji-sm" data-toggle="tab">خارجی</a></li>
        </ul>
    </li>
    @*komedi tab*@
    <li class="dropdown w3-center col-sm-12 col-xs-12 col-md-12">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#eshghi" aria-expanded="false">
            کمدی <span class="caret"></span>
        </a>
        <ul class="dropdown-menu col-sm-12 col-xs-12 col-md-12 text-center">
            <li><a href="#komedi-irani-sm" data-toggle="tab">ایرانی</a></li>
            <li class="divider"></li>
            <li><a href="#komedi-khareji-sm" data-toggle="tab">خارجی</a></li>
        </ul>
    </li>
</ul>
<br />
<br />
@*tab bar text for mobile and tablet*@
<div id="myTabContent" class="tab-content hidden-lg" dir="rtl">
    @*eshghi khareji tab text*@
    <div class="tab-pane fade" id="eshghi-khareji-sm" dir="rtl">
        <h1 class="text-center">فیلم های خارجی عشقی</h1><br />
        <div class="row">
            <div class=" col-md-6 col-sm-12 col-xs-12">
                <div class="list-group  w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Batman-small.jpg" class="col-sm-12 col-md-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه خارجی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/300.jpg" class="col-sm-12 col-md-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه خارجی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Baywatch-small.jpg" class="col-sm-12 col-md-12" />

                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Iron Man-small.jpg" class="col-sm-12 col-md-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*eshghi irani tab text*@
    <div class="tab-pane fade active in" id="eshghi-irani-sm" dir="rtl">
        <h1 class="text-center">فیلم های ایرانی عشقی</h1><br />
        <div class="row">
            <div class=" col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Batman-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه ایرانی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/300.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه ایرانی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Baywatch-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">عاشقانه ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Iron Man-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*action irani tab text*@
    <div class="tab-pane fade" id="action-irani-sm" dir="rtl">
        <h1 class="text-center">فیلم های ایرانی اکشن</h1><br />
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Captain America-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن ایرانی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Nioh.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن ایرانی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Harry Potter-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Hitman-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*action khareji tab text*@
    <div class="tab-pane fade" id="action-khareji-sm" dir="rtl">
        <h1 class="text-center">فیلم های خارجی اکشن</h1><br />
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Captain America-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن خارجی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Nioh.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن خارجی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Harry Potter-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">اکشن خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Hitman-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*tarsnak irani tab text*@
    <div class="tab-pane fade" id="tarsnak-irani-sm" dir="rtl">
        <h1 class="text-center">فیلم های ایرانی ترسناک</h1><br />
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Captain America-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک ایرانی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Nioh.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک ایرانی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Harry Potter-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Hitman-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*tarsnak khareji tab text*@
    <div class="tab-pane fade" id="tarsnak-khareji-sm" dir="rtl">
        <h1 class="text-center">فیلم های خارجی ترسناک</h1><br />
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Captain America-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک خارجی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Nioh.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک خارجی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Harry Potter-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">ترسناک خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Hitman-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*komedi irani tab text*@
    <div class="tab-pane fade" id="komedi-irani-sm" dir="rtl">
        <h1 class="text-center">فیلم های ایرانی کمدی</h1><br />
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Captain America-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی ایرانی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Nioh.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی ایرانی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Harry Potter-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Hitman-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*komedi khareji tab text*@
    <div class="tab-pane fade" id="komedi-khareji-sm" dir="rtl">
        <h1 class="text-center">فیلم های خارجی کمدی</h1><br />
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Captain America-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی خارجی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Nioh.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی خارجی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Harry Potter-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">کمدی خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Hitman-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*jangi irani tab text*@
    <div class="tab-pane fade" id="jangi-irani-sm" dir="rtl">
        <h1 class="text-center">فیلم های ایرانی جنگی</h1><br />
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Captain America-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی ایرانی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Nioh.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی ایرانی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Harry Potter-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی ایرانی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Hitman-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
    @*jangi khareji tab text*@
    <div class="tab-pane fade" id="jangi-khareji-sm" dir="rtl">
        <h1 class="text-center">فیلم های خارجی جنگی</h1><br />
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Captain America-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی خارجی 2</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Nioh.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی خارجی 3</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Harry Potter-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="list-group w3-card-24">
                    <div class="list-group-item text-center w3-gray w3-text-orange">جنگی خارجی 1</div>
                    <div class="list-group-item w3-center w3-light-gray">
                        <img src="~/Images/tab/Hitman-small.jpg" class="col-sm-12" />
                    </div>
                    <button class="list-group-item text-center btn-block w3-gray w3-text-orange">دانلود</button>
                </div>
            </div>
        </div>
    </div>
</div>
